{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container my-5">
    <h2 class="mb-4">Transparency</h2>
    <p>
      For the last 3 years, Anjuman e Saifee Foundation has maintained impeccable records and
      controlled expenses. The Auditors Annual Reports shown below are proof of our
      commitment to total transparency and full disclosure.
    </p>

    {# 2021 Report #}
    <div class="mb-5">
      <h5>Auditors Annual Report 2021</h5>
      <embed
        src="{% static 'assets/docs/ajnumanesaifee2021.pdf' %}#toolbar=0&navpanes=0"
        type="application/pdf"
        width="100%"
        height="600px"
        style="border:1px solid #ddd;"
      />
    </div>

    {# 2022 Report #}
    <div class="mb-5">
      <h5>Auditors Annual Report 2022</h5>
      <embed
        src="{% static 'assets/docs/ajnumanesaifee2022.pdf' %}#toolbar=0&navpanes=0"
        type="application/pdf"
        width="100%"
        height="600px"
        style="border:1px solid #ddd;"
      />
    </div>

    {# 2023 Report #}
    <div class="mb-5">
      <h5>Auditors Annual Report 2023</h5>
      <embed
        src="{% static 'assets/docs/anjumanesaifee2023.pdf' %}#toolbar=0&navpanes=0"
        type="application/pdf"
        width="100%"
        height="600px"
        style="border:1px solid #ddd;"
      />
    </div>
  </div>
{% endblock content %}
